<div class="login-container">
    <img class="film" src="C:\ict\library app\FrontEnd\src\assets\image" alt="" />
    <div class="logo">Let's Read...</div>
    <div class="desc">
      Reading is good for you because it improves your focus, memory, empathy, and 
      communication skills. It can reduce stress, improve your mental health, and 
      help you live longer. Reading also allows you to learn new things to help you 
      succeed in your work and relationships.
    </div>
    <div class="login-form">
      <div class="form-group">
        <label for="uname">Username</label>
        <input
          type="text"
          name="uname"
          class="form-control"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group">
        <label for="pword">Password</label>
        <input
          type="password"
          name="pword"
          class="form-control"
          [(ngModel)]="password"
        />
      </div>
      <div class="btn-container">
        <div class="error">{{ errorMsg }}</div>
        <button class="btn btn-dark" (click)="login()">Login</button>
      </div>
    </div>
  </div>